/*
font-family: 'Open Sans', sans-serif;
font-family: 'Staatliches', cursive;
*/

:root{
	--branding: #3a7bd5;
	--branding-dark: #29599c;
	--second: #00d2ff;
	--white: #f7f7f7;
	--black: #44463b;

	--font-1: 'Staatliches', cursive;
	--font-2: 'Open Sans', sans-serif;

}

/*Resets*/

html{
	box-sizing: border-box;
	font-size: 62.5%;
}

*, *:before, *:after{
	box-sizing: inherit;
}

/*Globales*/

body{
	background: #00d2ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

p{
	font-size: 1.8rem;
	font-family: var(--font-2);
}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
}

.container{
	width: 90%;
	max-width: 120rem;
	margin: 0 auto;
}

h1, h2, h3{
	text-align: center;
	color: var(--white);
	font-family: var(--font-1);
}

h1{
	font-size: 4rem;
}

h2{
	font-size: 3.5rem;
}

h3{
	font-size: 2.4rem;
}


/**Header**/

.header{
	display: flex;
	justify-content: center;
}

.header__logo{
	margin: 3rem 0;

}

/**Navegación**/

.nav{
	background-color: var(--branding-dark);
	padding: 1rem 0;
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.nav__a{
	font-family: var(--font-1);
	color: var(--white);
	font-size: 3rem;
	transition: color .5s;
}

.nav__a--active{
	border-bottom: 2px solid var(--second);
}

.nav__a:hover, .nav__a--active{
	color: var(--second);
}

/**Footer**/

.footer{
	background-color: var(--branding-dark);
	padding: 1rem 0;
	margin-top: 2rem;
}

.footer__text{
	text-align: center;
	font-family: var(--font-1);
	color: var(--white);
}


/**Producto**/

.grid{
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}

@media (min-width: 480px){
	.grid{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 768px){
	.grid{
		grid-template-columns: repeat(3, 1fr);
	}
}

.producto{
	background-color: var(--branding-dark);
	padding: 1rem;
	border-radius: .5rem;
	-webkit-box-shadow: 5px 5px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 3px -1px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 3px -1px rgba(0,0,0,0.75);
}

.producto__img{
	width: 100%
}

.producto__info{

}

.producto__name, .producto__price{
	font-family: var(--font-1);
	margin: 1rem 0;
	text-align: center;
	color: var(--white);
	line-height: 1.2;
}

.producto__price{
	color: var(--second);
}

/*Graficos*/

.grafic{
	min-height: 30rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.grafic--tshirts{
	grid-row: 2 / 3;
	background-image: url(../img/grafico1.jpg);
}

.grafic--node{
	grid-column: 1;
	background-image: url(../img/grafico2.jpg);
}

@media (min-width: 480px){
	.grafic{
		grid-column: 1 / 3;
	}

	.grafic--tshirts{
		grid-row: 2 / 3;
	}
}

@media (min-width: 768px){
	/*.grafic--tshirts{
		grid-row: 2 / 3;
		grid-column: 1 / 3;
	}*/

	.grafic--node{
		grid-column: 2 / 4;
	}
}



/*Nosotros*/

.about{
	color: var(--white);
	text-align: center;
	margin: 0 auto;
}




@media (min-width: 768px){
	.about{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		column-gap: 2rem;
	}
}

.iconos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}

.iconos__item{
	width: 20rem;
}

.iconos__title{
	font-family: var(--font-1);
	color: var(--branding-dark);
}

.iconos__desc{
	color: var(--white);
}

.iconos__img{
	max-width: 15rem;
}